<form action="/events" method="post">
    {{> events-form }}
    <div class="text-end mt-2">
        <a href="/events/{{event.id}}" class='text-muted mx-2 align-middle'>Cancel</a>
        <button type="submit" class="btn btn-primary" name="button">Save</button>
    </div>
</form>