<div class="mt-4">
    <h1>Login</h1>
    <form action="/login" method="post">
        <div class="row">
            <div class="col-md-12">
                <label class="form-label w-100">Email address
                    <input type="email" class="form-control" name="email">
                </label>
            </div>
            <div class="col-md-12">
                <label class="form-label w-100">Password
                    <input type="password" class="form-control" name="password">
                </label>
            </div>
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-md px-4">Submit</button>
            </div>
        </div>
    </form>
</div>